* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.nav-bar {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: #eb6440;
  text-align: center;
}
.logo {
  width: 73px;
  height: 80px;
  rotate: 180deg;
  margin-left: 120px;
}

.a {
  margin-left: 70vw;
  margin-top: 30px;
}

a {
  color: black;
}
.imagens {
  width: 1201;
  height: 3840px;

  justify-content: center;
  align-items: center;
}

.img1 {
  height: 640px;
  width: 400px;
}

.img2 {
  height: 640px;
  width: 600px;
}
.img3 {
  width: 1200px;
  height: 640px;
}

.img4 {
  height: 640px;
  width: 400px;
}

.img5 {
  height: 640px;
  width: 601px;
}

.img6 {
  width: 1200px;
  height: 640px;
}
